<!-- Begin Modals -->
<div class="modal fade" id="ironUsModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nosotros Somos</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <p>Nosotros Somos:</p>
                <ul>
                    <li>Luis Mora E-8-135595</li>
                    <li>Gianfranco Quiodetti 8-917-629</li>
                    <li>Manuel Serna AN-777-564 Nacido en Manizales, Geminis, Padre y Esposo</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Lagrange Modal -->
<div class="modal fade" id="ironLagrangeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nosotros Somos</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">¡Entendido!</button>
            </div>
        </div>
    </div>
</div>
<!-- Newton Modal -->
<div class="modal fade" id="ironNewtonModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nosotros Somos</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">¡Entendido!</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modals -->