<!-- Render Lagrange Div -->
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th colspan="3">
                <span style="float:left;">
                    Método Lagrange
                </span>
                <span style="float: right;">
                    <a id="ironMin04" href="javascript:;"><i class="fa fa-circle ironMin"></i></a>
                    &nbsp;<a id="ironHide04" href="javascript:;"><i class="fa fa-circle ironHide"></i></a>
                    &nbsp;<a id="ironClose04" href="javascript:;"><i class="fa fa-circle ironClose"></i></a>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">
                <label for="ironOutputLgVal">El valor evaluado es: </label>
                <output class="form-control ironOutputNum" name="ironOutputLgVal" id="ironOutputLgVal">{{ iron_lg_entered }}</output>
                <label for="ironOutputLg">El valor obtenido es: </label>
                <output class="form-control ironOutputNum" name="ironOutputLg" id="ironOutputLg">{{ iron_lg_result }}</output>
                <label for="ironOutputLgEq">La ecuacion es: </label>
                <output class="form-control ironOutputNum" name="ironOutputLgEq" id="ironOutputLgEq">{{ iron_lg_equation }}</output>
                <label for="ironTableLgValues">La tabla es: </label>
                <table class="table table-striped table-bordered ironTableShow" name="ironTableLgValues" id="ironTableLgValues">
                    <thead>
                        <tr>
                            <th>
                                i
                            </th>
                            <th>
                                x
                            </th>
                            <th>
                                f(x)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for table_item_1, table_item_2,table_item_3 in iron_lg_table %}
                            <tr>
                                <td>
                                    {{ table_item_1 }}
                                </td>
                                <td>
                                    {{ table_item_2 }}
                                </td>
                                <td>
                                    {{ table_item_3 }}
                                </td>
                            </tr>
                        {% endfor %}
                        <!-- <tr>
                            <td colspan="3">
                                <button type="button" class="btn btn-block btn-success" id="ironButtonReloadLg">Reiniciar</button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>


<div id="ironLgGraphic" class="col-md-12 justify-content-md-center">
  <script type="text/javascript">
    // Crea la Gráfica
     var svg = dimple.newSvg("#ironLgGraphic", "100%", "100%");

    //Data de la gráfica
    data = [
        {% for item_1, item_2 in iron_graph %}
            {"f(i)": "{{item_1}}", "f(x)": "{{item_2}}"},
        {% endfor %}
        {"f(i)":"{{ iron_lg_entered }}", "f(x)":"{{ iron_lg_result }}"}
    ];
    var myChart = new dimple.chart(svg, data);
    myChart.setBounds(70, 60, 505, 305);
    var x = myChart.addCategoryAxis("x", "f(i)");
    var y = myChart.addMeasureAxis("y", "f(x)");
    var s = myChart.addSeries("Interpolacion", dimple.plot.line);
    // Asignando los colores en los label
    myChart.assignColor("Interpolacion", "#FF4D1C");
    s.addOrderRule("Interpolacion");
    s.lineWeight = 5;
    s.lineMarkers = true;
    myChart.draw();
  </script>
</div>