<!-- Sidebar -->
<div id="sidebar-wrapper">
    <hr>
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <hr>
            <a href="javascript:;">
                <h3>Menú de Selección</h3>
            </a>
            <hr>
        </li>
        <li>
            <a href="javascript:;" data-toggle="modal" data-target="#ironCalculatorModal">Calculadora Algebraica</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="modal" data-target="#ironLagrangeModal">Método Lagrange</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="modal" data-target="#ironNewtonModal">Método de Newton</a>
        </li>
        <li>
            <a href="javascript:;">En construcción...</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="modal" data-target="#ironUsModal">Nosotros</a>
        </li>
        <li>
            <hr>
            <a href="#menu-toggle" class="btn btn-lg btn-iron-2" id="menu-toggle_2"><i class="fa fa-arrow-left" ></i> Cerrar</a>
            <hr>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->